<odoo>
  <data>
    <menuitem id="menu_tenenet_root" name="TENENET" sequence="10" web_icon="tenenet_projects,static/description/icon.png"></menuitem>
    <menuitem action="action_tenenet_garant_timesheets_client" groups="tenenet_projects.group_tenenet_garant_pm,tenenet_projects.group_tenenet_manager" id="menu_tenenet_garant_timesheets_owl" name="Garant: Timesheety A" parent="menu_tenenet_root" sequence="7"></menuitem>
    <menuitem action="action_tenenet_garant_projects_server" groups="tenenet_projects.group_tenenet_garant_pm,tenenet_projects.group_tenenet_manager" id="menu_tenenet_garant_projects" name="Garant: Timesheety B" parent="menu_tenenet_root" sequence="8"></menuitem>
    <menuitem id="menu_tenenet_projects" name="Projekty" parent="menu_tenenet_root" sequence="10"></menuitem>
    <menuitem action="action_tenenet_project" id="menu_tenenet_projects_list" name="Všetky projekty" parent="menu_tenenet_projects" sequence="10"></menuitem>
    <menuitem id="menu_tenenet_reporting" name="Reporty" parent="menu_tenenet_root" sequence="15"></menuitem>
    <menuitem action="action_tenenet_utilization_report" id="menu_tenenet_utilization_report" name="Vyťaženosť report" parent="menu_tenenet_reporting" sequence="5"></menuitem>
    <menuitem action="action_tenenet_project_yearly_labor_report" id="menu_tenenet_project_yearly_labor_report" name="Ročný report projektu" parent="menu_tenenet_reporting" sequence="10"></menuitem>
    <menuitem action="action_tenenet_allocation_report" id="menu_tenenet_allocation_report" name="Rozúčtovanie" parent="menu_tenenet_reporting" sequence="15"></menuitem>
    <menuitem action="action_tenenet_pl_report" id="menu_tenenet_pl_line" name="P&amp;L podľa programu" parent="menu_tenenet_reporting" sequence="20"></menuitem>
    <menuitem action="action_tenenet_employee_list_report" id="menu_tenenet_employee_list_report" name="Zoznam zamestnancov" parent="menu_tenenet_reporting" sequence="25"></menuitem>
    <menuitem groups="tenenet_projects.group_tenenet_manager" id="menu_tenenet_configuration" name="Konfigurácia" parent="menu_tenenet_root" sequence="20"></menuitem>
    <menuitem action="action_tenenet_program" id="menu_tenenet_programs" name="Programy" parent="menu_tenenet_configuration" sequence="10"></menuitem>
    <menuitem action="action_tenenet_donor" id="menu_tenenet_donors" name="Donori" parent="menu_tenenet_configuration" sequence="20"></menuitem>
  </data>
</odoo>
