.account_report.tenenet_pl_report {
    tr[data-id="column_headers_row"] {
        display: none;
    }

    td.line_cell,
    .line_cell.numeric {
        text-align: center !important;

        > .wrapper {
            justify-content: center;
        }

        > .wrapper > .content {
            justify-content: center;
            width: 100%;
        }
    }

    .line_cell.tenenet_pl_cell_predicted {
        .name,
        a,
        .content {
            color: #9a6700 !important;
        }
    }

    .line_name.tenenet_pl_row_predicted {
        .name,
        a,
        .content {
            color: #9a6700 !important;
        }
    }
}
