.account_report.tenenet_utilization_report {
    #filter_date {
        .o_datetime_input {
            min-width: 7rem;
            text-align: center;
            box-shadow: none;
        }
    }

    .line_cell.numeric {
        text-align: center !important;

        > .wrapper {
            justify-content: center;
        }

        > .wrapper > .content {
            justify-content: center;
            width: 100%;
        }
    }
}
